.game-box{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
}
.game-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
}
.game-cell{
    opacity: 0.6;
    position: relative;
    transition: 0.5s;
    height: 100%;
    border-radius: 50%;
    padding: 0;
    border-style: none;
    background-color: none;
}
.game-cell img{
    position: absolute;
    border-radius: 25%;
    transition: 0.5s;
    width:100%;
    height:100%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.game-cell-active{
    opacity: 1;
}
.game-cell-none{
    opacity: 0;
}
.game-cell-selected img{
    transform: translate(-50%,-50%) rotate(-30deg);
}

.game-cell-active img:hover{
    width: 120%;
    height: 120%;
    margin: 0 auto;
}
